.card-container {
    display: flex;
    overflow: hidden;
    transition:linear;
    align-items: "center"
  }
  .posts{
    background-color:#63C5DA;
    margin-top:2rem;
    margin-bottom: 5rem;
    padding-bottom:3rem;
    padding-top: 4rem;
  }
  .newtitle{
    font-size: 3rem;
    font-weight: 600;
    color:#F7FFFF;
    position: relative;
  }
  .newtitle::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 5px;
    background: black;
    bottom: -10px;
    left: 30%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
   .newtitle:hover::before {
    transform: scaleX(0.8); /* Show the line on hover */
  }
  /* Reset line on mouse out */
  .newtitle:not(:hover)::before {
    transform: scaleX(0);
  }